:root{
    --ColorPrincipal: #4c2f27; 
    --ColorSecundario: #F8F4F4;
    --FuentePrincipal: # ;
    --FuenteSecundaria:'PT Serif', serif;
}


html{
    font-size: 62.5%;
    font-family: 'PT Serif', serif;
}

body{
    font-size:16px;
    box-sizing:border-box;
    background-color: var(--ColorSecundario);
    color: black; 
}

*,*::after,*::before{
    box-sizing:inherit;
}

a{
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.Contenedor{
    width:114rem;
    margin:0 auto;
}
header{
    padding: 20px 0px;
}

/* Aqui empieza la web */

.Busqueda {
    display: flex; 
    justify-content: center;
    flex:60%;
    max-width: 60%;
}

.Busqueda form{
    min-width:80%;
}
.form-control, .Busqueda .btn{
    font-size:1.6rem;
}
.btn{
    line-height:1;
}
.material-symbols-outlined{
    line-height: initial;
}
.Busqueda input{
    padding: 8px;
    border-color:white;
    border-radius: 10px; 
}
.Busqueda input:focus-visible{
    outline-color:white;
}

.Cabecera img{
    width: 45%;
    align-items: center;
    height:100%;
}

.Cabecera>.Contenedor{
    display:flex;
    font-weight: 300;
    align-items:center;
    gap:20px;
}

.Logo {
    display: flex;
    justify-content: space-around;
    flex: 10%;
    max-width: 10%;
    text-align:center;
    margin:0 auto;
    align-items: center;
}

.Navegador {
    display:flex;
    flex: 20%;
    max-width: 20%;
    align-items: center;
    justify-content: space-around; 
}
.Navegador span{
    padding-top:7px;
}

/* .Navegador {
    
} */

/* Slider de contenido de reseñas */

.Slider {
    margin-top:1rem;
    border-radius: 20px;
    overflow:hidden;
    background-image: url(/img/FondoSlider3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.ImagenSlider {
    position: absolute;
    object-fit: contain;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    padding:20px; 
}

.carousel .carousel-item {
    height: 500px;
    text-shadow: 1px 1px 1px black;
  }
  
.carousel-caption{
    
}



/* Seccion de Destacados */

.Destacados {
    margin-top: 60px;
}

.LibrosDestacados{
    display:flex;
    gap:1rem;
    text-align: center;
    margin-top: 20px;
}

.Destacados .ContenidoLibro{
    flex:20%;
    min-width:20%;
}
.Destacados .ContenidoLibro img{
    height: 100%; 
}

/* Seccion Libro del mes */

.SeccionLibroMes {

    margin-top: 60px;
}

.LibroMes {
    display: flex;
    margin-top: 20px;
}

.LibroMes img {
    width: 80%;
}

.LibroMes p {
    display: flex;
    flex: 70%;
    text-align: center;
    align-items: center;
 }

/* Seccion Generos */

.SeccionGeneros {
    margin-top: 60px;
}

.Generos {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 100px;
    justify-items: center;
    margin-top: 20px;   
 }

.Generos a{
   display: flex;
   justify-content: center;
   padding: 20px 0px;
   height: 100%;
   align-items: center; 
   text-transform: uppercase;
   text-decoration: none;
}

.Generos div {
    margin-bottom: 40px;
}

.Circulo {
	width: 300px;
    height: 200px;
    border-radius: 50%;
    background-color: aqua;
    justify-content: center;
	align-items: center;
	text-align: center;
    }
